.heading{
    text-align: center;
    font-weight: bold;
    margin: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    text-align: center;
    font-size: 20px;
    font-family:monospace;
    margin-left: 50px;
    margin-right: 50px;
}

.item{
    margin-left: 500px;
}